doctype html
html(lang="en")
	//- ipad: 1024 x 768 px
	//- add delivery address and time
	//- add pickup and time
	head
		title Cashier
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel ='stylesheet', href="cashier.css", type='text/css')
	body
		.container
			.navbar 
				div Foodbot.
				div Cashier View
			.flex
				each order in orders
					.order
						.left
							.overview
								unless order.isPaid
									img(src="money.png")
								.number_time
									- var order_id = order._id.;
									- var display_id = order_id.substr(-5);
									.number Order #{(display_id)}
									if order.methodFulfillment == "pickup"
										//- do countdown / up
										.time.green Pickup @ #{order.fulfillmentDate.getHours()}:#{order.fulfillmentDate.getMinutes()}
									else
										//- throw some bold tags in here
										.time.green Delivery to #{order.address}, #{order.postalCode} @ #{order.fulfillmentDate.getHours()}:#{order.fulfillmentDate.getMinutes()}
							.details
								each item in order._items
									//- combo logic here
									.name= item.itemName
									if item.itemName == "burger"
									.toppings
										each topping in item.standardToppings
											.topping= topping
										each topping in item.premiumToppings
											.topping= topping
						.right
							unless order.isPaid
								.option Mark as Paid
							unless order.isInputted
								.option Mark as Read
