doctype html
html(lang="en")
	//- ipad: 1024 x 768 px
	//- add delivery address and time
	//- add pickup and time
	//- add ajax
	head
		title Cashier
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel ='stylesheet', href="cashier.css", type='text/css')
	body
		.container
			.navbar 
				div Foodbot.
				div Cashier View
			.flex
				each order in orders
					- console.log(order.fulfillmentDate)
					.order
						.left
							.overview
								unless order.isPaid
									img(src="money.png")
								else
									img(src="check.png")
								.number_time
									- var date = new Date(order.fulfillmentDate);
									- var order_id = order._id;
									- var display_id = order_id.toString().substr(-5);
									.number Order #{(display_id)}
									if order.methodFulfillment == "pickup"
										//- do countdown / up
										.time.green Pickup @ #{date.getHours() - 4}:#{date.getMinutes()}
									else
										//- throw some bold tags in here
										.time.green Delivery to #{order.address}, #{order.postalCode} @ #{date.getHours() - 4}:#{date.getMinutes()}
							.details
								each item in order._items
									//- combo logic here
									.name #{displayName2(item)}
									if item.itemType == "burger"
										.toppings
											each topping in item.standardToppings
												.topping= topping
											each topping in item.premiumToppings
												.topping= topping

						.center
						.right
							unless order.isInputted
								form.option(action="input", method="POST")
									input(type="hidden", name="orderId", value=order._id) 
									button READ



		script.

			function displayName2(item) {
				alert(item.itemName)
				var name = item.itemName.replace( /([A-Z])/g, " $1" );
				var name = name.charAt(0).toUpperCase() + name.slice(1);
				if (item.itemType === 'side') {
					var size = item.size.charAt(0).toUpperCase() + item.size.slice(1)
					name = size + ' ' + name
				}
				alert(name)
				return name
			}

			//- function displayName(item) {
			//- 	switch(item.itemName) {
			//- 		case 'lettuceBun':
			//- 			return 'Lettuce Bun';
			//- 		case 'standardBun':
			//- 			return 'Standard Bun';
			//- 		case 'pickles':
			//- 			return 'Pickles';
			//- 		case 'lettuce':
			//- 			return 'Lettuce';
			//- 		case 'tomatoes':
			//- 			return 'Tomatoes';
			//- 		case 'onions':
			//- 			return 'Onions';
			//- 		case 'ketchup':
			//- 			return 'Ketchup';
			//- 		case 'mustard':
			//- 			return 'Mustard';
			//- 		case 'mayo':
			//- 			return 'Mayonnaise';
			//- 		case 'relish':
			//- 			return 'Relish';
			//- 		case 'fancySauce':
			//- 			return 'Fancy Sauce';
			//- 		case 'hotSauce':
			//- 			return 'Hot Sauce';
			//- 		case 'tomato':
			//- 			return 'Tomatoes';
			//- 		case 'pickle':
			//- 			return 'Pickles';
			//- 		case 'hotPepper':
			//- 			return 'Hot Peppers';
			//- 		case 'friedEgg':
			//- 			return 'Fried Egg';
			//- 		case 'glutenFreeBun':
			//- 			return 'Gluten Free Bun';
			//- 		case 'grilledCheeseBun':
			//- 			return 'Grilled Cheese Bun';
			//- 		case 'threePartBun':
			//- 			return 'Three Part Bun';
			//- 		case 'chickenPatty':
			//- 			return 'Chiken Patty';
			//- 		case 'soyPatty':
			//- 			return 'Soy Patty';
			//- 		case 'stuffedPortobello':
			//- 			return 'Stuffed Portobello';
			//- 		case 'bacon':
			//- 			return 'Bacon';
			//- 		case 'caramelizedOnions':
			//- 			return 'Caramelized Onions';
			//- 		case 'americanCheese':
			//- 			return 'AmericanCheese';
			//- 		case 'blueCheese':
			//- 			return 'Blue Cheese';
			//- 		case 'cheeseSauce':
			//- 			return 'Cheese Sauce';
			//- 		case 'gravySide':
			//- 			return 'Side of Gravy';
			//- 		case 'sauteedMushrooms':
			//- 			return 'Sauteed Mushrooms';
			//- 		case 'blueCheese':
			//- 			return 'Blue Cheese';
			//- 		case 'swissCheese':
			//- 			return 'Swiss Cheese';
			//- 		case 'standardCheese':
			//- 			return 'Standard Cheese';
			//- 		case 'pepsi':
			//- 			return 'Pepsi';
			//- 		case 'dietPepsi':
			//- 			return 'Diet Pepsi';
			//- 		case '7-up':
			//- 			return '7 Up';
			//- 		case 'orangeCrush':
			//- 			return 'Orange Crush';
			//- 		case 'drpepper':
			//- 			return 'Dr Pepper';
			//- 		case 'icedTea':
			//- 			return 'Iced Tea';
			//- 		case 'gingerAle':
			//- 			return 'Ginger Ale';
			//- 		case 'rootBeer':
			//- 			return 'Root Beer';
			//- 		case 'waterBottle':
			//- 			return 'Bottled Water';
			//- 		case 'mountainDew':
			//- 			return 'Mountain Dew';
			//- 		case 'vanillaMilkshake':
			//- 			return 'Vanilla Milkshake';
			//- 		case 'chocolateMilkshake':
			//- 			return 'Chocolate Milkshake';
			//- 		case 'strawberryMilkshake':
			//- 			return 'StrawberryMilkshake';
			//- 		case 'fries':
			//- 			return '';
			//- 		case 'poutine':
			//- 			return '';
			//- 		case 'cheesyFries':
			//- 			return '';
			//- 	}
			//- }











