doctype html
html(lang="en")
	head
		title Burger
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel="stylesheet", href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
		link(rel ='stylesheet', href="receipt.css", type='text/css')
		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
	body
		script.
			// code to connect to the extension necessary to close this view
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'Messenger'));

		
		- const items = order._items; // all items in the order
		- let index = 0; // the index of the current item

		each item in items
			
			- const type = item.itemType; // type of current item: burger, drink or side
			- const name = item.itemName; // name of current item
			- const id = item._id; // id of current item

			- let combo = false; // whether this item is a burger with a combo
			if type === "burger"
				if index <= items.length - 3
					if itemCombo in items[index + 1]
						- combo = true;

			- let price = 0;

			form= name

				- price += item.price;

				input(type="hidden", name="order_id", value=order._id)
				input(type="hidden", name=type, value=id)

				- console.log("combo: ");
				- console.log(combo);

				if combo
					// sort the next 2 rows, display side first
					if items[index + 1] === "drink"
						- const combo_drink = items[index + 1];
						- const combo_side = items[index + 2];
					else
						- const combo_side = items[index + 1];
						- const combo_drink = items[index + 2];

					- price	+= combo_drink.price;
					.temp= combo_drink.itemName
					.price= combo_drink.price

					- price	+= combo_side.price;
					.temp= combo_side.itemName
					.price= combo_side.price

			- index++;

		button Sounds Good
		
		script.
			// called when MessengerExtensions is done loading
			window.extAsyncInit = function() {
				$("button").click(function(){
					// document.getElementById("only_form").submit();
					MessengerExtensions.requestCloseBrowser(function success() {
						console.log("success");
					}, function error(err) {
						console.log(err);
					});
				})
			}
