doctype html
html(lang="en")

	head
		title Burger
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel ='stylesheet', href="normalize.css", type='text/css')
		link(rel ='stylesheet', href="receipt.css", type='text/css')
		script(src="https://use.fontawesome.com/1d07c7b3d1.js")
		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		script(src="ajaxSubmit.js")
		script(src='https://checkout.stripe.com/checkout.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/jquery.inputmask.js')
	body
		form#form1(style="position:relative;", method="post", action="delete")
			input(type="hidden", name="orderId", value=order._id)
			.errors
			h4 RECEIPT
			.items
				- counter = 1;
				each item in order._items	
					if item.itemType == "burger"
						.item #{counter}. #{item.itemName}
							span.price ($#{item.price/100})
							span.actions(name=item.itemName, burgerId=item._id, combo=item.itemCombo, type="burger", linkId=item._link)
								i.fa.fa-pencil(aria-hidden="true")
								i.fa.fa-times-circle(aria-hidden="true")
						- counter++;
						if item.itemCombo
							- let side = ""
							- let drink = ""
							each inner_item in order._items
								if ((item._link.equals(inner_item._link)) && (item._order.equals(inner_item._order)) && (inner_item.itemType == "side"))
									- side = inner_item;
								if ((item._link.equals(inner_item._link)) && (item._order.equals(inner_item._order)) && (inner_item.itemType == "drink"))
									- drink = inner_item;
							.combo w/ #{side.itemName} & #{drink.itemName}
								span.price ($#{(side.price + drink.price)/100})
								span.actions(name="#{item.itemName}" drinkId=item._id, sideId=side._id, type="combo")
									i.fa.fa-pencil(aria-hidden="true")
									i.fa.fa-times-circle(aria-hidden="true")

					else
						unless item.itemCombo
							.item #{counter}. #{item.itemName}
								span.price ($#{item.price/100})
								span.actions(sideId=item._id, type="item")
									i.fa.fa-times-circle(aria-hidden="true")
							- counter++;
			.prices
				p#base
				p#delivery_stripe
				p#tax
				p#total
			button Confirm

		form#form2(style="display:none;", method="post", action="confirm")
			input(type="hidden", name="orderId", value=order._id)
			.errors
			p#final_total
			.inputs
				input(name="address", type="text", placeholder="Address")
				input(name="phoneNumber", type="text", placeholder="Phone")
				input(name="room", type="text", placeholder="Room Number (Optional)")
			button Pay Now

		script.
			// burger needs: name, sender, linkId, receipt

			// close setup
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'Messenger'));
			// stripe setup
			const handler = StripeCheckout.configure({
				key: 'pk_test_tetHRTsQOph2yuOSaHGZG3pZ',
				image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
				locale: 'auto',
				currency: "CAD",
				token: function(token) {
					$("#form2").append("<input type='hidden' name='token_id' value='" + token.id + "'>");
					$("#form2").append("<input type='hidden' name='token_email' value='" + token.email + "'>");
					$("#form2").append("<input type='hidden' name='authorized_payment' value='2000'>");
					$("#form2").ajaxSubmit();
					closeWebview();
				}
			});


			// constants
			const order_id = !{JSON.stringify(order._id)}
			const order_paid = !{JSON.stringify(order.isPaid)}
			const sender = !{JSON.stringify(order._user.PSID)}


			// edit
			$(".fa-pencil").on("click", function(){
				const actions = $(this).parent();
				const type = actions.attr("type");
				switch (type) {
					case "burger":
						const linkId = actions.attr("linkId");
						const name = actions.attr("name");
						window.location = `burger?name=${name}&sender=${sender}&linkId=${linkId}&receipt=1`;
						break;
				}
			})


			// delete (done)
			function smartDelete(itemIds) {
				return new Promise(function(resolve, reject){
					$.ajax({
					  method: "POST",
					  url: "delete",
					  data: { 
					  	itemIds, 
					  	orderId: order_id
					  }
					}).done(function(success){
						resolve(success);
					}).fail(function(failure){
						reject(failure);
					})
				})
			}
			$(".fa-times-circle").on("click", function(){
				
				const actions = $(this).parent();
				const type = actions.attr("type");
				let ids = [];

				switch(type) {
					case "item": // delete only this item
						ids.push(actions.attr("sideId"));
						break;
					case "combo": // delete the burger's combo
						ids.push(actions.attr("drinkId"));
						ids.push(actions.attr("sideId"));
						break;
					case "burger": // delete the burger (and combo, if applicable)
						ids.push(actions.attr("burgerId"));
						if (actions.attr("combo")){
							comboIds = actions.closest(".item").children(".combo").children(".actions");
							ids.push(comboIds.attr("drinkId"));
							ids.push(comboIds.attr("sideId"));
						}
						break;
				}
				smartDelete(ids).then(function(result) {
						return getOrder(order_id);
					}).then(function(order) {
						console.log("reload");
						// this should be ajax
						location.reload();
					}).catch(function(error) {
						console.log("error");
						$(".errors").text("Whoops! There was an error deleting that item.");
					})
			})


			// button logic
			$("#form1 button").on("click", function(e){
				closeWebview();
				("#form1").hide();
				$("#form2").show();
			})
			// TODO: get price
			$("#form2 button").on("click", function(e){
				e.preventDefault();
				$("#form2").hide();
				handler.open({
					name: 'FoodBot',
					description: 'Your Order',
					zipCode: true,
					amount: 2000
				})
			})

			// this line might let us not use set timeout
			// window.extAsyncInit = function ...

			// address validation
			function checkAddress() {
				return new Promise((resolve, reject) => {
					$.get(
					  "/address",
					  { address: address }
					)
						.done(function(result) {
							resolve(result); // result: true, false or error object
						})
						.fail(function(error) {
							reject(error)
						})
				})
			}
			// not address validation
			function Validations(address) {
				return new Promise((resolve, reject) => {
					let room = $("input[name='room']").text();
					let phoneNumber = $("input[name='phoneNumber']").text();
					if (address === false) {
						reject("The address is outside of range");
					} else if ((address !== true) && (address !== false)) {
						reject("The addres is invalid");
					} else if (isNan(room)) {
						reject("The room number is not a number");
					} else if (isNan(phoneNumber)) {
						reject("The phone number is not a number");
					} else if (phoneNumber <= 1000000000) {
						reject("Must enter a phone number");
					} else {
						resolve(true);					
					}
				})
			}
			

			function closeWebview() {
				MessengerExtensions.requestCloseBrowser(function success() {
					console.log("Webview closed");
				}, function error(err) {
					console.log(err);
				});
			}

			// gets the order
			function getOrder(id) {
				return new Promise((resolve, reject) => {
					$.get("/getorder/" + id)
						.done(function(order) {
							resolve(order);
						})
						.fail(function(error) {
							reject(error);
						})
				})
			}

			// HELPER: convert integer to cents to standard price format
			function displayPrice(price) {
				return ("$ " + (price / 100).toFixed(2));
			}

			// gets the order, then the price
			function loadPrices(order) {
				$("#base").text(displayPrice(order.basePrice));																 // base
				$("#delivery_stripe").text(displayPrice(order.stripeFee + order.deliveryFee)); // delivery + stripe
				$("#tax").text(displayPrice(order.tax));																			 // tax
				$("#total").text(displayPrice(order.basePrice + order.stripeFee + order.deliveryFee + order.tax))
				$("#final_total").text(displayPrice(order.basePrice + order.stripeFee + order.deliveryFee + order.tax))
			}

			$(document).ready(function(){

				// close the webview is order is paid or empty
				if ((!($(".item").length)) || (order_paid)) {
					(function(d, s, id){
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) {return;}
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'Messenger'));
					setTimeout(closeWebview, 200);
				}
				// if they already paid, close the webview (isConfirmed)

				// determine prices
				//- loadPrices();

				// format the phone number
				$("#postal").inputmask("(999)999-9999");
			})