

doctype html
html(lang="en")
	head
		title Burger
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel="stylesheet", href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
		link(rel ='stylesheet', href="receipt.css", type='text/css')
		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
		script(src="dragend-master/dragend.js")
		script(src="form.js")
		script(src='https://checkout.stripe.com/checkout.js')
	body
		script.
			// code to connect to the extension necessary to close this view
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'Messenger'));

		- // this page is going to broken up into several phases
		- // 1: see receipt, remove / restore items
		- // 2: ajax/get_order, see pickup or delivery, time, pay button
		- // 3: payment

		- // TODO: security
		- // TODO: style
		
		- // VIEW 1

		- const items = order._items; // all items in the order
		- let index = 0;

		form#view1container(style="position:relative;", method="post", action="delete")

			h4 RECEIPT
			input(type="hidden", name="orderId", value=order._id)

			- let order_price = 0;

			while index < items.length
				- let item = items[index];  // loop through each item in the list
				- let name = item.itemName; // name of current item
				- let combo_price = item.price; // equal to the price of the item or combo, if applicable

				- let combo = "";
				if item.itemType === "burger"
					if index <= items.length - 3
						if typeof itemCombo in items[index + 1] !== "undefined"
							- combo = "(Combo)"
							- combo_price = combo_price + items[index + 1].price + items[index + 2].price

				- order_price += combo_price;
				span
					input(toggle_input=index, type="hidden", name="keepIds[]", value=item._id)
					.wide_checkbox
						.custom_check_on(toggle=index)
						.toggle
							h3 #{item.itemName} #{combo}
						p.price #{combo_price}

					if item.itemType === "burger"
						.zoom(value=item._id, style="display:none")
							- let toppings = item.standardToppings.concat(item.premiumToppings)
							each topping in toppings
								.topping= topping
							
							if combo
								- let combo_drink = undefined; // find the drink and side that are part of this combo
								- let combo_side = undefined;
								if items[index + 1] === "drink"
									- combo_drink = items[index + 1];
									- combo_side = items[index + 2];
								else
									- combo_side = items[index + 1];
									- combo_drink = items[index + 2];

									- price	+= combo_drink.price; // add the drink to the delete id list
									.drink= combo_drink.itemName
									.price= combo_drink.price
									input(toggle_input=index, name="keepIds[]", value=combo_drink._id)

									- price	+= combo_side.price; // add the side to the delete id list
									.side= combo_side.itemName
									.price= combo_side.price
									input(toggle_input=index, name="keepIds[]", value=combo_side._id)

								- index += 2; // this is so we don't enter drinks and sides twice
				- index++;
				
			p#original_total Total: #{order_price}
			button.view1button.doneview1(style="position:absolute; bottom:0;") Confirm

		//- VIEW 2
		form#view2container(style="display:none;", method="post", action="confirm")

			input(type="hidden", name="orderId", value=order._id)

			.lightswitch(style="height: 70px")
				input(type="hidden", name="method", value="pickup")
				div.selected(style="width: 50%; background: red; display: inline-block;") Pickup
				div(style="width: 50%; background: blue; display: inline-block;") Delivery

			//- timestamp
			input#time(name="time", type="time", style="height: 70px;")

			input(name="address", type="text", style="height: 70px", placeholder="Address")

			input(name="postal", type="text", style="height: 70px", placeholder="Postal Code")

			p#get_order_price
			br
			p#get_tax
			br
			p#get_stripe
			br
			p#get_total
			br

			input.doneview2(type="submit", value="later", style="width:50%; background: red; display: inline-block; height: 70px;")
			input.doneview2(type="submit", value="now", style="width:50%; background: blue; display: inline-block; height: 70px;")

		script.
			$(document).ready(function(){
				document.getElementById("time").value = "22:53";
			})
			
			// TODO: get feedback once confirmation is done

			//- console.log(order);
			// add to deleteIds
			$("form").on("click", ".custom_check_on", function() {
				const toggle = $(this).attr("toggle");
				$("input[toggle_input=" + toggle + "]").prop("name", "removeIds[]");
				$(this).removeClass("custom_check_on");
				$(this).addClass("custom_check_off");
			})

			// remove from deleteIds
			$("form").on("click", ".custom_check_off", function(){
				const toggle = $(this).attr("toggle");
				$("input[toggle_input=" + toggle + "]").prop("name", "keepIds[]");
				$(this).removeClass("custom_check_off");
				$(this).addClass("custom_check_on");
			})

			const get_price = (order) => {
				const order_id = order._id;
				console.log("get_price triggered");
				$.get("/getorder/" + order_id).done(function(get_order){
					const get_order_price = parseFloat(get_order.orderPrice).toFixed(2);
					const get_tax = parseFloat(get_order.orderPrice * .13).toFixed(2);
					const get_stripe = parseFloat((get_order.orderPrice * 1.13) * .029 + .3).toFixed(2);
					pay_total = parseFloat((get_order.orderPrice * 1.13) * 1.029 + .3).toFixed(2);
					// round to 2 decimal places
					$("#get_order_price").html(get_order_price);
					$("#get_tax").html(get_tax);
					$("#get_stripe").html(get_stripe);
					$("#get_total").html(pay_total);
					$("#view2container").append("<input type='hidden' name='authorized_payment' value='" + pay_total * 100 + "'>")
				}, "json");
			}

			// click confirm button
			$(".doneview1").click(function(e){
				e.preventDefault();
				// TODO: add logic here
				$("#view1container").ajaxSubmit();
				$("#view1container").hide();
				get_price(!{JSON.stringify(order)});
				$("#view2container").show();
			})

			// view 2
			// all payment stuff
			// produces a length 4 list:
			// Order
			// HST
			// Stripe
			// Total

			// amount they have to pay
			let pay_total = null;

			

			var handler = StripeCheckout.configure({
				key: 'pk_test_tetHRTsQOph2yuOSaHGZG3pZ',
				image: 'https://stripe.com/img/documentation/checkout/marketplace.png', // use personal image
				locale: 'auto',
				currency: "CAD",
				token: function(token) {
					// You can access the token ID with `token.id`.
					// Get the token ID to your server-side code for use.
					console.log(token.id);
					console.log("this is when something happens with token");
					$("#view2container").append("<input type='hidden' name='token_id' value='" + token.id + "'>");
					$("#view2container").append("<input type='hidden' name='token_email' value='" + token.email + "'>");
					$("#view2container").ajaxSubmit();
					MessengerExtensions.requestCloseBrowser(function success() {
						console.log("success");
					}, function error(err) {
						console.log(err);
					});
				}
			});
			// either closes the session or brings up the payment prompt
			$(".doneview2").click(function(e){
				// this was sending twice
				e.preventDefault();

				// year month day hours seconds
				var time = document.getElementById("time").value
				var year = 2017;
				var month = 7;
				var day = 11;
				var hour = parseInt(time.substr(0,2));
				var minute = parseInt(time.substr(3,2));
				console.log(hour);
				console.log(minute);
				var o = new Date(year, month, day, hour, minute);
				var json = JSON.stringify(o);
				console.log(json);
				$("#time").attr("type", "hidden");
				$('#time').val(json);
				$("#view2container").hide();
				if ($(this).attr("value") == "now") {
					console.log("b");
					handler.open({
						name: 'FoodBot',
						description: 'Your Order',
						zipCode: true,
						amount: pay_total * 100
					})
					
				} else {
					console.log("c");
					$("#view2container").ajaxSubmit();
					MessengerExtensions.requestCloseBrowser(function success() {
						console.log("success");
					}, function error(err) {
						console.log(err);
					});
					$
				}
			})

			// view 3
			window.addEventListener('popstate', function() { // close checkout on page navigation
				handler.close();
			});
			// called when MessengerExtensions is done loading
			window.extAsyncInit = function() {
				$("#view3button").click(function(){
					// document.getElementById("only_form").submit();
					MessengerExtensions.requestCloseBrowser(function success() {
						console.log("success");
					}, function error(err) {
						console.log(err);
					});
				})
			}
